.button {
  --button-main: var(--color-default-main);
  --button-contrast: var(--color-default-contrast);
  --button-hover: var(--color-default-600);

  appearance: none;
  background: none;
  background-color: transparent;
  border: 0;
  border-radius: var(--border-radius);
  color: var(--button-main);
  cursor: pointer;
  font-family: var(--font-family-body);
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  color: var(--button-hover);
}

.outline {
  box-shadow: inset 0 0 0 2px var(--button-main);
  color: var(--button-main);
}

.outline:hover {
  background-color: var(--button-main);
  color: var(--button-contrast);
}

.filled {
  background-color: var(--button-main);
  color: var(--button-contrast);
}

.filled:hover {
  background-color: var(--button-hover);
  color: var(--button-contrast);
}

@media (prefers-color-scheme: dark) {
  .button {
    --button-main: var(--color-default-100);
  }
}

.primary {
  --button-main: var(--color-primary-main);
  --button-contrast: var(--color-primary-contrast);
  --button-hover: var(--color-primary-600);
}

.secondary {
  --button-main: var(--color-secondary-main);
  --button-contrast: var(--color-secondary-contrast);
  --button-hover: var(--color-secondary-600);
}

.error {
  --button-main: var(--color-error-main);
  --button-contrast: var(--color-error-contrast);
  --button-hover: var(--color-error-600);
}
